<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <span class="mobile btn-mobile-menu">        
      <div class="nav_container">
         <nav class="nav-menu-item" style = "float:right">
            <i class="nav-menu-item">
              <a href="/#blog" title="{{site.blog_button.description}}" class="blog-button">  {{site.blog_button.title}}
              </a>
            </i>
            {% for item in site.nav %}
                <i class="nav-menu-item">

                  <a href="{{item.url}}" title="{{item.description}}" class="btn-mobile-menu__icon">
                      {{item.title}}
                  </a>
                </i>
            {% endfor %}
          </nav>
      </div>
    </span>
    
    {% include side-panel.html %}

    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            {{ content }}
            {% include footer.html %}
        </div>
    </div>
    
    {% include external.html %}
    <div id="ds-thread" class="ds-thread" data-url="{{ page.url }}" data-title="{{ page.title }}" data-thread-key="{{ page.title }}"></div>
    <script type="text/javascript">

        var duoshuoQuery = {short_name: "lhxcarol"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = 'http://static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
  </body>

</html>
